body{
    font-family:"Arial", Serif;
    background-color:#f4f4f4;
    overflow-x:hidden;
}
.box{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #3b5998;
    text-align: center;
    border-radius: 20px;
}
.box h1{
    color:black;
    font-weight: 500;
}
::placeholder{
    color:black;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71 ;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}
.navbar{
    background-color:#3b5998;
    overflow:hidden;
    height:63px;
    width:100%;
}

.navbar a{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
}
.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
}

.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
    white-space: nowrap;
}

.side-nav a:hover{
    color:#fff;
}

.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}

#main{
    transition:margin-left 0.5s;
    padding:20px;
    width:99%;
    overflow: hidden;
}
.canvasjs-chart-toolbar {
    border: none !important;
}

.myButton {
    background-color: #428bca !important;
    width: auto !important;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #000 !important;
    cursor: pointer;
    color: #ffffff !important;
    font-family: Arial;
    font-size: 17px;
    margin-left: 3px !important;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: #42a7f4 !important;
}
#dateWrapper
{
    display: inline-block;
}

#filterWrapper {
    display: inline-block;
    float: right;
}



